.article-grid{
    display: flex;
    align-items: center;
}

.header-article{
    display: flex;
    align-items: center;
    gap: 4px;
}

.avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.name{
    display: flex;
    flex-direction: column;
    color: white;
}

.tag{
    color: white;
    opacity: 0.4;
}

.follow-button{
    margin-left: 10px;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    padding: 6px 16px;
    cursor: pointer;
    border: 1px solid black;
    transition: .3s ease background-color;
}

.follow-button.is-following{
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 135px;
}

.follow-button:hover{
    background-color: #09f;
}

.follow-button.is-following:hover{
    border: 1px solid rgba(255, 0, 0, 0.562);
    background-color: rgba(168, 81, 81, 0.247);
    color: red;
    transition: .3 ease background-color;
}

.follow-button.is-following:hover .follow-button-stop-follow{
    display: block;
}

.follow-button-stop-follow{
    display: none;
}

.follow-button-text{
    display: block;
}

.follow-button.is-following:hover .follow-button-text{
    display: none;
}